
.panel{
  min-width: 26em;
}
.panel.panel-success {
    margin-bottom: 0;
}
.panel .panel-title{
  height: 30px;
  line-height: 30px;
}
.panel .panel-title:after{
  content: "";
  display: block;
  clear: both;
}
.panel .panel-title .btn{
  float: right;
}
.panel .panel-body .list-group{
  margin-top: 20px;
}
